.no-gifs-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;

  .no-gifs-desc {
    align-self: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1000px;
  }
}
