.image-page-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../background-images/background-gif-app.png');

  .search-bar-comtainer {
    align-self: center;
    margin-bottom: 30px;
  }

  .image-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 5px;
    justify-content: center;
    height: 100%;
  }

}


@media screen and (max-width: 1580px) {
.image-page-container {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
}

}

@media screen and (max-width: 1080px) {
.image-page-container {
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}
}

@media screen and (max-width: 552px) {
.image-page-container {

  .image-container {
    grid-template-columns: 1fr;

  }

}
}
