.no-images-container {
  display: flex;
  height: auto;
  justify-content: center;

  .no-images-desc {
    text-align: center;
    align-self: center;
    margin-top: 50%;
    color: white;
  }

  .direct-to-login {
    color: yellow;
    text-decoration: none;
  }
}
