.no-images-container {
  display: flex;
  height: 100%;
  justify-content: center;

  .no-images-desc {
    align-self: center;
    text-align: center;
    align-content: center;
    color: white;
  }

  .direct-to-login {
    color: yellow;
    text-decoration: none;
  }
}
