* {
  box-sizing : content-box;
};

.app-container {
  height: auto;
  background-color: black;
  background-image: url('./background-images/background-gif-app.png');

}

body {
  background-color: purple;
}
