$base-text-color: white;

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 100%;
  margin-top: 15px;

  .incorrect-login {
    color: red;
  }

  .hidden {
    display: none;
  }

  h3 {
    color: $base-text-color;
    padding-bottom: 25px;
    font-size: 25px;
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-text-color;
    background-color: black;
    margin: 10px;
    padding: 10px;

    .no-match {
      color: red;
    }

    .valid {
      color: green;
    }

    input {
      margin-bottom: 40px;
      width: 90%;
      height: 30px;
      padding: 0;
      font-size: 24px;
      background-color: black;
      border-bottom: 4px solid white;
      border-top: none;
      border-left: none;
      border-right: none;
      color: white;
      text-align: center;

      &:focus {
        outline: none;
        border-bottom: 4px solid red;

      }

    }

    label {
      font-size: 20px;
    }
  }

  .toggle-method {
    cursor: pointer;
    font-weight: bold;
    color: rgba(255, 255, 0, 1);
    margin-top: 25px;

    &:hover {
      color: rgba(255, 255, 0, 0.5);
    }
  }

  .sign-in-buttons {
    display: flex;
    flex-direction: row;

    button {
      width: 120px;
      margin-bottom: 30px;
    }
  }
  span {
    text-align: center;
  }
}
